<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="/css/clearing.css" rel="stylesheet">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <link href="https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css" rel="stylesheet"/>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/pagination.css" rel="stylesheet">
    <link href="/css/table.css" rel="stylesheet">
</head>
<body>
<header th:insert="~{header :: header}"></header>

<div class="container w-50 p-2">
    <div class="row">
        <div class="col">
            <p class="fs-3">Выгрузить TSV</p>
            <form action="/data/customers/export" enctype="multipart/form-data">
                <div>
                    <input class="btn btn-primary btn-sm" type="submit" value="Выгрузить"/>
                </div>
            </form>
        </div>
        <div class="col">
            <p class="fs-3">Загрузить TSV</p>
            <form action="/data/customer/import" enctype="multipart/form-data" method="POST">
                <div>
                    <input accept=".tsv" class="btn btn-light btn-sm" name="file" required="required" type="file">
                    <input class="btn btn btn-primary btn-sm" type="submit" value="Загрузить"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container w-50 p-2">
    <div style="max-height: 700px; overflow-x: auto;">
        <table class="table table-bordered table-striped table-href">
            <caption></caption>
            <thead class="table-dark">
            <tr>
                <th class="text-center">
                    ID
                </th>
                <th class="text-center">
                    Customer Name
                </th>
                <th class="text-center">
                    Customer Surname
                </th>
                <th class="text-center">
                    Customer Primary Email
                </th>
                <th class="text-center">
                    Customer Primary Phone
                </th>

                <th class="text-center" colspan="2"> Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : ${entities}">
                <td th:text="${entity.getId()}"></td>
                <td th:text="${entity.getCustomerName()}"></td>
                <td th:text="${entity.getCustomerSurname()}"></td>
                <td th:text="${entity.getCustomerPrimaryEmail()}"></td>
                <td th:text="${entity.getCustomerPrimaryPhone()}"></td>
                <td class="text-center">
                    <form action="#" th:action="@{/data/customers/{id}(id=${entity.getId()})}" th:method="DELETE"
                          th:object="${entity}">
                        <button class="btn btn-danger" onclick="return confirm_delete()" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container_pagination selector"></div>
    <div class="container_pagination">
        <div th:if="${totalPages > 1}">
            <div class="pagination">
                <ul></ul>
            </div>
        </div>
    </div>
</div>
<hr>
<!--sec:authorize="hasRole('ROLE_USER')"-->
<div class="container w-50 p-2">
    <p class="fs-3">Добавить покупателя</p>
</div>

<div class="container w-50 p-2">
    <div class="row">
        <div class="col align-self-start">
            <form action="#" method="POST" th:action="@{/data/customers}" th:object="${customer}">
                <div class="mb-3">
                    <label class="form-label" for="customer_name"> Имя </label>
                    <input aria-describedby="customerNameError" class="form-control" id="customer_name" name="customerName"
                           required="required" type="text"/>
                </div>
                <small class="error_message" id="customerNameError"
                       th:errors="*{customerName}" th:if="${#fields.hasErrors('customerName')}">error
                    customerName</small>

                <div class="mb-3">
                    <label class="form-label" for="customer_surname"> Фамилия </label>
                    <input aria-describedby="customerSurnameError" class="form-control" id="customer_surname" name="customerSurname"
                           required="required" type="text"/>
                </div>
                <small class="error_message" id="customerSurnameError"
                       th:errors="*{customerSurname}" th:if="${#fields.hasErrors('customerSurname')}">error
                    customerSurname</small>

                <div class="mb-3">
                    <label class="form-label" for="customer_primary_email"> E-mail </label>
                    <input aria-describedby="customerPrimaryEmailError" class="form-control" id="customer_primary_email" name="customerPrimaryEmail"
                           required="required" type="text"/>
                </div>
                <small class="error_message" id="customerPrimaryEmailError"
                       th:errors="*{customerPrimaryEmail}" th:if="${#fields.hasErrors('customerPrimaryEmail')}">error
                    customerPrimaryEmail</small>


                <div class="mb-3">
                    <label class="form-label" for="customer_primary_phone"> Телефон </label>
                    <input aria-describedby="customerPrimaryPhoneError" class="form-control" id="customer_primary_phone" name="customerPrimaryPhone"
                           required="required" type="text"/>
                </div>
                <small class="error_message" id="customerPrimaryPhoneError"
                       th:errors="*{customerPrimaryPhone}" th:if="${#fields.hasErrors('customerPrimaryPhone')}">error
                    customerPrimaryPhone</small>
                <input class="btn btn-primary btn-sm" type="submit" value="Добавить"/>
            </form>
        </div>
    </div>
</div>

<script src="/js/pagination_script.js" type="text/javascript"></script>
<script src="/js/confirm_CUD.js" type="text/javascript"></script>
<script th:inline="javascript">
    createSelector([[${totalPages}]], [[${currentPage} +1]], [[${pageSize}]]);
    createPagination([[${currentPage} +1]], [[${pageSize}]], [[${totalPages}]]);
</script>
</body>
</html>