<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Retail Analytics</title>
    <link href="/css/clearing.css" rel="stylesheet">

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">

    <link href="https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
</head>
<body>

<header th:insert="~{header :: header}"></header>

<div class="container">
    <div class="row">
        <div class="col-15 mt-2">
            <h5>Информация о проекте</h5>
        </div>
    </div>
    <div class="row">
        <div>
            <p>Проект выполнен пиром maslynem <br>
                Web-приложение разработано на языке Java версии 17<br>
                Web-приложение реализовано с использованием MVC-фреймворка (Spring)<br>
                Рендеринг страниц осуществляется на стороне сервера (использование технологии Server-Side Rendering)<br>
                <br>
                Раздел «Таблицы» содержит подразделы, которые позволяют через GUI поддерживать следующий
                функционал:<br>
                &emsp;- Совершать CRUD-операции по всем таблицам<br>
                &emsp;- При любой модификации таблиц (create, update, delete) приложение запрашивает у
                пользователя подтверждение на осуществление операции<br>
                &emsp;- После любого вида модификации таблиц пользователю выводится измененная таблица<br>
                &emsp;- Импорт и экспорт данных для каждой таблицы из файлов/в файлы с расширением .csv<br>
                <br>
                Раздел «Представления» содержит подразделы, которые позволяют через GUI поддерживать следующий
                функционал:<br>
                &emsp;- Просматривать содержание<br>
                &emsp;- Экспорт данных в файлы с расширением .csv<br>
                <br>
                Раздел «Аналитика» содержит подразделы, которые позволяют через GUI поддерживать следующий
                функционал:<br>
                &emsp;- Обновлять данные перед созданием аналитики<br>
                &emsp;- Вычисление всех персональных предложений и их экспорт в файл разрешения .csv<br>
                &emsp;- Если введенные аргументы были некорректны, то приложение выдает ошибку о некорректности
                введенных данных и предлагает повторную попытку ввода<br>
                <br>
                Реализована авторизация пользователя.<br>
                Приложение поддерживает 2 роли: администратор и посетитель и в соответствии с ролью выдавать
                определенные права:<br>
                * Администратор:<br>
                &emsp;- Администратор имеет полные права на редактирование и просмотр любой информации, запуск и
                остановку процесса обработки.<br>
                * Посетитель:<br>
                &emsp;- Только просмотр информации из всех таблиц.<br>
                <br>
                Если данные были некорректны, то приложение должно обрабатывать подобную ситуацию (выдавать ошибку о
                некорректности введенных и данных и предлагать повторную попытку ввода).<br>
                <br>
                Реализовано логирование всех действий пользователя (файлы логов записывать в папку logs). Каждый день
                создается новый файл логов.
            </p>

        </div>
    </div>
</div>

</body>
</html>